* {
  margin: 0;
}

.Container {
  height: fit-content;
  flex: 0.2;
  position: sticky;
  top: 80px;
  border-radius: 10px;
  text-align: center;
}

.Top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0.7em;
  border: 1px solid transparent;
  border-radius: 10px 10px 0 0;
  border-bottom: 0;
  background-color: #fff;
}

.Top > img {
  object-fit: cover;
  width: 100%;
  height: 3.8em;
  margin-bottom: -20px;
  border-radius: 10px 10px 0 0;
}

.Top > h4 {
  color: #808080;
  font-size: 0.8rem;
}

.Stats {
  padding: 0.6em;
  margin-bottom: 0.6em;
  border: 1px solid #d3d3d3;
  border-radius: 0 0 10px 10px;
  background-color: #fff;
}

.Stat {
  display: flex;
  justify-content: space-between;
  margin-top: 0.6em;
}

.Title {
  font-size: 0.8rem;
  font-weight: 600;
  color: #808080;
}

.Number {
  font-weight: 700;
  color: #0a66c2;
}

.Bottom {
  padding: 0.6em;
  margin-top: 0.6em;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
  text-align: left;
  background-color: #fff;
}
