.Header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 0.8em 0;
  background-color: #fff;
  border-bottom: 0.1px solid #d3d3d3;
  z-index: 999;
}

.HeaderLeft {
  display: flex;
  align-items: center;
}

.HeaderLeft > img {
  object-fit: contain;
  width: 2.5em;
  margin: 0 0.5em;
}

.HeaderSearch {
  width: 10em;
  height: 2em;
  display: flex;
  align-items: center;
  border-radius: 8px;
  background: #eef3f8;
  color: #808080;
}

.HeaderSearch > input {
  width: 80%;
  font-size: 1rem;
  outline: none;
  border: none;
  background: none;
}

.HeaderRight {
  display: flex;
}
